:root{
  --heading-font: Lato;
  --paragraph-font: Helvetica, Garamond, sans-serif;
}

main{
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 180px 1fr;
gap: 20px 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  line-height: 1.5em;
  
}


#content {
max-width: 600px;
margin: 0 auto;
padding: 10px;
overflow: hidden;

}
.content-top{

display: grid;
grid-template-columns: 120px 1fr;
grid-template-rows: 1fr;
grid-column-start: 1;
grid-row: 1;
padding: 20px;
background: #657EC5;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px #383838;
border: 1px solid #CCCCCC;

}

.content-top img{
grid-column: 1;

text-align: center;
border-radius: 10px;
box-shadow: 2px 2px 2px 2px #999999;
border: 1px solid #CCCCCC;
max-width: 80%;

}


.content-top p{
grid-column: 2;
padding: 0.5em;
text-align: left;
font-family: var(--paragraph-font);
font-size: 1.5em;
color: white;
}

.content-middle{
grid-column: 1/3;
}

.content-middle nav{
grid-column: 1/3;
}

.content-middle p:nth-of-type(1){
grid-row: 1;
grid-column: 1/3;
padding: 0px 0px 0px 10px;
text-align: left;
font-family: var(--paragraph-font);
font-size: 1.5em;
color: black;
border-bottom: 1px solid rgb(0,0,0);
text-shadow: 0.1em 0.1em 0.2em black;

}

.content-middle p:nth-of-type(2){
grid-row: 3;
grid-column: 1/3;
padding: 0px 0px 0px 20px;
text-align: left;
font-family: var(--paragraph-font);
font-size: 1em;
color: black;
border-top: 1px solid rgb(0,0,0);
font-style: italic;
}


.content-middle nav ul li{
font-size: 1.1em;
font-family: var(--paragraph-font);
}

footer {
grid-column: 2;
padding: 30px 10px 100px 0px; 
}


.content-bottom{

width: 100%;
float: left;

background: #657EC5;
border-radius: 10px;
box-shadow: 3px 3px 3px 3px #383838;
border: 1px solid #CCCCCC;
padding: 0px;
}

.content-bottom p:nth-of-type(1){
color: white;
text-align: center;
font-family: var(--paragraph-font);
font-size: 1em;
grid-column: 1/3;
}

#date{
color: yellow;
text-align: center;
font-family: var(--paragraph-font);
font-size: 1em;
grid-column: 1/3;
}

@media screen and (max-width: 550px) { 
/* beginning of media query */
  div {
  display: block;
  }

  p {
  margin-bottom: 0.5em;
}
  
/* end of media query */ 
} 

@media (min-width: 32.5em) {

  div{
      display: grid;
      grid-template-columns: 30% auto;
  }

  .content-top img {
      max-width: 90%;
  }

}
