:root{
    --heading-font: Lato;
    --paragraph-font: Helvetica, Garamond, sans-serif;
}



h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    line-height: 1.5;
    
  }

  #content {
    max-width: 960px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
    
  }

  .content-name img{
      width: 150;
  }
