/* 35rem is also 560px when basefont is 16px */


@media only screen and (max-width: 32.5rem){
    
    nav ul li a {
        padding: .5rem 1rem;
    }

    main{
        display: block;
    }

    .content{
        max-width: 75%;
        display: flex;
        flex-direction: column;
    }
    .event, .weather, .join, .middle-main, .news-release{
        height: 10em;
    }
    .middle-main{
        order: -1;
        
    }


    h1{
        font-size: 1.2em;
        padding: 10px;
    }

    .header-date{
        font-size: 0.9em;
    }

    #img-top{
        width: 30%;
    }

    .back-footer{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        
        
    }   

    h2{
        padding: 0px;
        text-align: center;
    }

    .content-footer{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        padding: 0px;
        margin: 10px;
    }

    .test-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0;
        max-width: 100%;
        justify-content: center;
    }

    .main-nav-footer{
        padding: 0px;
    }
    
    .test-flex img{
        width: 30%;
        
    }

    footer{
        display: block;
    }

    .container-footer img{
        display: flex;
        justify-content: space-around;
        width: 50px;
        padding: 0px;
    }

    .img-facebook, .img-linkedin {
        width: 20px;
    }

    .weather img{
        max-width: 20%;
        padding: 1em;
        float: left;
        
    }

}

