@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');

:root{
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto Slab', serif;
    --background-header: #CBBBAC;
    --background-menu: #433324;
    --selected-menu: #FFFF00;
    --background-div: #FFFFD8;
}

body{
    padding: 20px;
}

h1, h2, h3, h4{
    font-family: var(--heading-font);
  }
p, nav, label{
    font-family: var(--paragraph-font);
}

/* HEADER*/

header{
    
    color: black;
    padding: 10px;
    max-width: 100%;
}

body{
    background-image: url("../images/temple_opacity.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}


.content-header{
    display: flex;
    font-size: 1em;
    color: black;
    padding: 10px 10px 10px 30px;
}

.img-name{
    display: flex;
    justify-items: left;
}

.img-name img{
    width: 200px;
}

.content-header h1{
    display: flex;
    justify-items: right;
    align-items: center;
    
}

.header-date{
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
    background: var(--background-menu);
    color: white;
}

.images-header{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    order: 0;
}

.img-facebook, .img-linkedin {
    width: 30px;
}
html{
    max-width: 98%;
}

.buttons{
    text-align: center;
    margin: 50px 10px 0px 10px;
}

.weather, .weatherDays{
    background-color: #b5daf0;
    padding: 2px;
}

.weather h2, .weatherDays h2{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 10px;
    text-align: center;
}

.weatherDays h3{
    text-align: center;
}

.weatherDays span{
    font-size: 20px;
    margin: 5px;
}

.weather img{
    width: 80px;
}

.weather p{
    padding: 0px 10px;
}



.weatherDays section{
    margin: 0px 10px;
}



/* END HEADER */
  
/* CONTENT*/
.content{
    max-width: 100%;
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 50% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.content div {
    border-radius: 10px;
}

/* >>>>>>>> MAIN <<<<<<<*/

/* TEMPLES*/

.temples{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    padding: 20px;
    margin: 20px 0px 20px 0px;
}

.section-plus, .section-history{
    text-align: left;
    padding: 5px;
}

.negrito{
    font-weight: bold;
    padding: 5px;
}

.items{
    padding: 5px;
    text-align: left;
}

.txtEmail{
    display: block;
}

.btnPL{
    margin: 10px 2px;
}

.btn-like{
    max-width: 30px;
    margin: 10px 2px 0px 0px;
    padding: 0px 10px;
}


/* END TEMPLES*/

/* CONTENT*/

.contentReserve{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
}

.contentReserve img{
    grid-column: 1;
    width: 100%;
    border-radius: 50%;
}

.sectionReserve{
    grid-column: 2;
}

.sectionReserve{
    padding: 10px 10px;
    margin: 0px;
}

.sectionReserve h3{
    text-align: left;
    padding: 0px 10px;
}

.sectionReserve h1, .content-news h1{
    text-align: center;
    text-shadow: 0 1px 0 #ccc,
0 2px 0 #c9c9c9,
0 3px 0 #bbb,
0 4px 0 #b9b9b9,
0 5px 0 #aaa,
0 6px 1px rgba(0,0,0,.1),
0 0 5px rgba(0,0,0,.1),
0 1px 3px rgba(0,0,0,.3),
0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.25),
0 10px 10px rgba(0,0,0,.2),
0 00px 20px rgba(0,0,0,.15);
}

.sectionReserve a{
    padding: 0.5em;
    margin: 1rem 3rem;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
    background-color: #eeeeee;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.contentMain{
    display: flex;
    flex-direction: column;
    max-width: 80%;
}

.content-news{
    max-width: 100%;
    text-align: center;
    margin: 50px 0px;
}

.content-news img{
    grid-column: 1;
    width: 30%;
    border-radius: 50%;
    
}

.content-activities{
    background-image: url("../images/templo_02_blank.jpg");
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}

.content-attending{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}
.div-form h1{
    margin: 5px 20px;
}

.temple-list{
    width: 100%;
}

.temple-list span{
    float: left;
    padding: 1px 20px;
}

.temple-list select, .temple-list input{
    margin: 5px 10px;
    float: left;
}

section{
    margin: 50px 20px;
}

.submit{
    margin: 5px 20px;
}

.newLinks{
    text-align: center;
    padding: 20px 0px;
}

.newLinks a{
    margin: 0px 30px;
    padding: 2px;
    font-size: 18px;
    text-decoration: underline;
    color: black;
}

.newLinks a:hover{
    background-color: rgba(0,0,0,0.1);
    color: #000000;
}

.contentWedding{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contentWedding img{
    width: 70%;
    border-radius: 50%;
}

.contentFood img{
    width: 200px;
    border-radius: 50%;
}

.sectionFood{
    display: flex;
    flex-direction: row;
    font-size: 18px;
}

.generalServices h1, .contentFood h1, .sectionWedding h1{
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 0px 20px rgb(0 0 0 / 15%);
}

.sectionGeneralServices input, .sectionGeneralServices span{
    font-size: 18px;
    padding: 2px 20px;

}

.sectionGeneralServices{
    display: flex;
    flex-direction: row;
}

.roomInformation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.sectionRoom img{
    border-radius: 10%;
}

.sectionRoom:hover img{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.sectionRoom div{
    text-align: center;
}

.roomInformation section:hover{
    background-color: #c7deec;
}

.sectionRoom h2{
    text-align: center;
}

.sectionRoom h3{
    margin: 10px;
}

.btnSubmitContact{
    margin: 10px;
}

.mainRoomInfo, .personalInformation div h2{
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgb(0 0 0 / 10%), 0 0 5px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 30%), 0 3px 5px rgb(0 0 0 / 20%), 0 5px 10px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 20%), 0 0px 20px rgb(0 0 0 / 15%);
}




/* FORM */

.personalInformation div label, .participantsInformation, .specialInformation div label, .helpfulInformation div label{
    display: block;
}

.personalInformation div input, .participantsInformation, .specialInformation div input, .helpfulInformation div input, #divParticipantInfo input{
    margin: 2px;
    width: 300px;
    border-radius: 15px;
    padding: 0px;
    padding: 0px 0px 0px 10px;
}

.rooms select{
    margin: 2px;

    border-radius: 15px;
    padding: 0px;
}

.temple-list select{
    margin: 2px;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    padding: 0px 0px 0px 15px;
}

.temple-list input{
    margin: 2px;
    height: 30px;
    border-radius: 15px;
    padding: 0px 0px 0px 15px;
}

.divform{
    border: 1px solid #cccccc;
    padding: 20px;
    margin: 20px 0px 20px 0px;
    display: grid;
    flex-direction: column;
}


/* END FORM */

/* END CONTENT*/


/* >>>>>>>> END MAIN <<<<<<<*/


/* MENU */



/* button menu*/
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.5);
    font-size: .9rem;
    
    
    transition: all .5s;
    border: 10px solid transparent;
	
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.1);
    color: #000000;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.1);
    
    
    border: 1px solid #136497;
    border-radius: 50%;
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}




#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}
/* END MENU */


/* FOOTER*/

.back-footer{
    
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.main-nav-footer h2{
    font-size: 2rem;
    padding: 0px;
}
.test-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-footer{
    display: flex;
    justify-content: left;
    align-items: center;
}

.container-footer img{
    width: 140px;
    padding: 10px 0px 10px 50px;
}

.main-nav-footer {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 0px 0px 0px 50px;
}

.main-nav-footer ul {
    display: flex;
}


.text-footer{
    font-size: 18px;
}

.location{
    padding: 0px 0px 0px 200px;
    font-size: 16px;
    text-align: center;
}

.location img{
    width: 60px;
}

.content-footer{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 30px;
    padding: 5px;
    width: 93%;
    font-size: 16px;
    color: black;
    border-top: 1px solid black;
    
    
}



/* END FOOTER*/
