/* 64rem is also 1028px when basefont is 16px */

@media only screen and (min-width: 60rem){
    
    nav button {display: none;}

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
    }
    
    nav ul li a{
        border: none;
    }

    
/* >>>>>>>> MAIN <<<<<<<*/

/* CONTENT*/



/* END CONTENT*/

/* TEMPLES*/


section img{
    max-width: 60%;
}

.templesList section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
}

.templesList section:nth-child(odd){
    border: 1px solid #eeeeee;
    background-color: #ebfbfd;
}

.templesList section:nth-child(even){
    
    background-color: white;
    border: 1px solid #eeeeee;
}

#weather{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.weatherDays{
    display: flex;
    flex-direction: row;
}

.weatherDays section{
    border-left: 1px solid black;
    margin: 5px;
    padding: 5px;
}


/* END TEMPLES*/

/* >>>>>>>> END MAIN <<<<<<<*/
    
}
