/* 35rem is also 560px when basefont is 16px */


@media only screen and (max-width: 959px){

    header h2, header h3{
        font-size: 1.2em;
    }

    .content-header{
        padding: 0px;
    }

    .images-header{
        width: 20%;
    }

    .contact-info h2, .contact-info h3{
        font-size: 1em;
        padding: 5px;
    }

    .back-footer{
        display: flex;
        flex-direction: column;
        max-width: 100%;  
    }

    .content-footer{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        padding: 0px;
        margin: 10px;
    }

    .test-flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        margin: 0;
        max-width: 100%;
        justify-content: center;
    }

    .main-nav-footer{
        padding: 0px;
    }
    
    .test-flex img{
        width: 30%;
        
    }

    .contentReserve{
        max-width: 85%;
    }

    .sectionReserve h1, .content-news h1, .feedback h1{
        font-size: 1.2em;
    }

    .content-news p, .content-activities p, .feedback p{
        font-size: 0.9em;
    }

    .content-attending h2{
        font-size: 1em;
    }

    .sectionReserve h3, .feedback h3{
        font-size: 1em;
    }

    .sectionReserve a{
        font-size: 1em;
        text-align: center;
    }

    header, footer{
        max-width: 85%;
    }

    footer{
        display: block;
    }

    .text-footer, .location-footer p, .location-footer a{
        font-size: 1em;
    }
    
    .temples{
        padding: 20px;
        margin: 20px 0px 20px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 85%;
    }

    .temples section{
        width: 100%;
        margin: 0px;
        padding: 0px;
    }

    .temple-images{
        max-width: 60%;
        margin: 5px;
    }

    .temples section p, .temples section a{
        font-size: 0.9em;
    }

    .templesList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .templesList section{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
    }

    .templesList p:nth-child(1){
        font-weight: bold;
        grid-row: 1;
        grid-column: 1/5;
    }

    .templesList p:nth-child(2){
        font-size: 0.8em;
        grid-row: 2;
        grid-column: 1/5;
    }

    .templesList p:nth-child(3){
        font-size: 0.8em;
        grid-row: 3;
        grid-column: 1/5;
    }

    .templesList a{
        font-size: 0.8em;
        grid-row: 4;
        grid-column: 1/5;
    }

    .btn-like{
        max-width: 25px;
        margin: 10px 2px 0px 0px;
        padding: 0px 10px;
    }

    .logo-header{
        width: 130px;
    }

    .roomInformation{
        display: grid;
        grid-template-columns: 1fr;
        margin: 100px 0px;
    }

    .personalInformation div input, .participantsInformation, .specialInformation div input, .helpfulInformation div input, .rooms select, #divParticipantInfo input{
        width: 250px;
    }

    #textarea{
        width: 220px;
    }

    .helpfulInformation, .freeAmenities{
        width: 80%;
    }

}

