@media only screen and (max-width: 32.5rem){
    main{
        display: block;
    }

    nav {
        text-align: center;
    }

    .bg-header{
        height: 100px;
    }

    .content-header{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    header h2, header h3{
        font-size: 0.9em;
    }

    .content{
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

    .temples{
        padding: 10px;
        margin: 20px 0px 20px 0px;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 80%;
    }

    .temples h2{
        font-size: 1em;
    }
    
    .btn-like{
        max-width: 25px;
        margin: 10px 2px 0px 0px;
        padding: 0px 10px;
    }

    .content-header, footer, nav{
        max-width: 85%;
    }
}