@media only screen and (max-width: 32.5rem){
    main{
        display: block;
        width: 90%;
    }

    nav {
        text-align: center;
    }

    .bg-header{
        height: 100px;
    }

    .content-header{
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    header h2, header h3{
        font-size: 0.9em;
    }

    .content{
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }

    .temples{
        padding: 10px;
        margin: 20px 0px 20px 0px;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 80%;
    }

    .temples h2{
        font-size: 1em;
    }
    
    .btn-like{
        max-width: 25px;
        margin: 10px 2px 0px 0px;
        padding: 0px 10px;
    }

    .content-header, footer, nav{
        max-width: 85%;
    }

    .contentReserve, .content-attending{
        display: flex;
        flex-direction: column;
    }

    .sectionReserve a{
        font-size: 1em;
    }

    .div-form, .helpfulInformation, .freeAmenities{
        padding: 0px;
        margin: 0px;
        width: 90%;
    }

    .specialInformation, .personalInformation{
        margin: 0px;
    }

    #textarea{
        width: 80%;
    }

    .personalInformation div input, .participantsInformation, .specialInformation div input, .helpfulInformation div input, #divParticipantInfo input{
        width: 90%;
    }

    .newLinks{
        display: flex;
        flex-direction: column;
    }

    .sectionRoom h2, .sectionRoom h3{
        font-size: 1em;
    }

    .roomInformation{
        display: grid;
        grid-template-columns: 1fr;
        margin: 50px 0px;
    }

    #weather{
        display: flex;
        flex-direction: column;
        width: 80%;
    }

    #weather h2, #weather h3{
        font-size: 1em;
    }

    #weather img{
        width: 30%;
    }
    
    .weatherDays{
        display: flex;
        flex-direction: column;
        
    }

    .weatherDays section{
        border-top: 1px solid black;
    }

    .negrito{
        font-size: 0.8em;
    }

}