@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');

:root{
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto Slab', serif;
}

main{

  max-width:100%;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    line-height: 1em;
    
  }

p, a {
  font-family: var(--paragraph-font);
  line-height: 1em;
}


div{
  display: block;
  margin: 10%;
}

header{
  color: white;
  background: #003767;
  display: block;
  padding: 15px;
}



footer{
  background: #003767;
  padding: 10px;
  display: block;
  padding: 15px;
}

img {
  max-width: 100%;
  border-radius: 10px;
  margin: 20px 0px 0px 0px;
  border: 1px solid #cccccc;
  box-shadow: 2px 2px 2px 2px #999999;
}

.principle-1, .principle-2, .principle-3 {
	overflow: hidden;
}

.principle-1 img, .principle-2 img, .principle-3 img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.principle-1:hover img, .principle-2:hover img, .principle-3:hover img {
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
}

footer p{
  color: white;
  text-align: center;
  font-family: var(--paragraph-font);
  font-size: 1em;
  grid-column: 1/3;
}

#date{
  color: yellow;
  text-align: center;
  font-family: var(--paragraph-font);
  font-size: 1em;
  grid-column: 1/3;
}

@media screen and (max-width: 600px) { 
/* beginning of media query */
    main {
    display: block;
    }
  
    h2 {
    margin-bottom: 0.5em;
  }
    
/* end of media query */ 
} 

@media (min-width: 32.5em) {
  main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

  #hicks {
    grid-column: 1;
    display: block;
  }
  
  #fitts {
    grid-column: 2;
    display: block;
  }
  
  #white-clean {
    grid-column: 1/3;
    display: block;
  }
}

@media (min-width: 64em) {
  main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }

  #hicks {
    grid-column: 1;
    display: block;
  }
  
  #fitts {
    grid-column: 2;
    display: block;
  }
  
  #white-clean {
    grid-column: 3;
    display: block;
  }
}