@media only screen and (max-width: 959px){
    main{
        display: block;
    }

    nav {
        text-align: center;
    }

    .content{
        max-width: 90%;
        display: flex;
        flex-direction: column;
    }
    .event, .weather, .join, .middle-main, .news-release{
        height: 10em;
    }
    .middle-main{
        order: -1;
        height: 300px;
        
    }
    .main-nav-footer h2{
        font-size: 1.2rem;
        padding: 0px;
    }
    .text-footer, .location-footer p, a{
        font-size: 1rem;
    }

    .event p, .join p{
        font-size: 0.9em;
    }
    .weather p, .news-release p, .spotlight-1 p, .spotlight-2 p{
        font-size: 0.8em;
    }
    
    .event h2, .weather h2, .news-release h2, .spotlight div h2{
        font-size: 1em;
    }

    .spotlight-1 img, .spotlight-2 img, .spotlight-3 img {
        width: 5em;
    }

    .mypicture img {
        display: block;
        margin: auto;
        max-width: 50%;
      }
    
    .herodivlabel{
        width: 30%;
        
    }

    .herodivlabel h3{
        font-size: 0.9em;
        margin: 0px;
        padding: 0px;
    }

    .herodivlabel h3::after{
        content: "Medium Size";
    }

    .content-picture{
        margin: 10px;
        width: 67%;
    }

    .weather img{
        width: 10%;
        
    }

    .content-images-1{
        border: 1px solid #cccccc;
        padding: 20px;
        margin: 20px 0px 20px 0px;
        box-shadow: 2px 2px 2px 2px #999;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 300px;
    }

    .companies{
        border: 1px solid #cccccc;
        padding: 20px;
        margin: 20px 0px 20px 0px;
        box-shadow: 2px 2px 2px 2px #999;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    section h3, section a{
        font-size: 0.8em;
    }

    
    .content-images-1 h2{
        grid-row: 1;
        grid-column: 1/3;
        text-align: center;
    }
    
    .content-images-1 img{
        grid-row: 2;
        grid-column: 1;
    }
    
    .content-images-1 span{
        grid-row: 2;
        grid-column: 2;
        padding: 20px;
        font-size: 20px;
    }
    
    .content-images-2{
        max-width: 100%;
        border: 1px solid #cccccc;
        padding: 20px;
        margin: 20px 0px 20px 0px;
        box-shadow: 2px 2px 2px 2px #999;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:  1fr 300px;
    }
    
    .content-images-2 h2{
        grid-row: 1;
        grid-column: 1/3;
        text-align: center;
    }
    
    .content-images-2 img{
        grid-row: 2;
        grid-column: 2;
        float: right;
    }
    
    .content-images-2 span{
        grid-row: 2;
        grid-column: 1;
        padding: 20px;
        font-size: 20px;
    }
    
    .img-1{
        max-width: 80%;
    }
    
    .img-2{
        max-width: 85%;
    }
    
    .img-3{
        max-width: 80%;
    }
    
    .img-4{
        max-width: 80%;
    }
    
    .img-5{
        max-width: 85%;
    }
    
    .img-6{
        max-width: 65%;
    }
    
    .img-7{
        max-width: 60%;
    }
    
    .img-8{
        max-width: 80%;
    }
    
    .img-9{
        max-width: 70%;
    }
    
    .img-5:hover, .img-6:hover, .img-7:hover, .img-8:hover {box-shadow: 0 0 50px #333;}
    
    .img-1:hover {border-radius: 5px 300px;}
    
    /*GrayScale*/
    .img-9 {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .img-9:hover{
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    
    /*Sepia*/
    .img-2, .img-4 {
        -webkit-filter: sepia(100%);
        filter: sepia(100%);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    .img-2:hover, .img-4:hover {
        -webkit-filter: sepia(0);
        filter: sepia(0);
    }
    
    .img-3 {
        -webkit-transition: all 2s ease-out;
        transition: all 2s ease-out;
      }
      .img-3:hover,
      .img-3.hover {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
      }
      .content-images-1 span, .content-images-2 span{
        font-size: 1em;
    }
}