article{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 650px 200px 350px 220px 200px 200px;
    margin: 100px;
    gap: 20px;
}

img{
    width: 300px;

}
/*
 img[data-src] {
    filter: blur(0.2em);
  }
  
   img {
    filter: blur(0em);
    transition: filter 0.5s;
  }
  div{
    padding: 0px 0px 400px 0px;
    margin: 0px;
}

.imgcat{
    padding: 0px 0px 800px 0px;
}
*/

div picture img{
    position: absolute;
    
}
label{
    position: absolute;
    font-style: oblique;
    font-size: 30px;
    color: red;
}

.img1{
    grid-row: 1;
}

.img2{
    grid-row: 2;
}

.img3{
    grid-row: 3;
}

.img4{
    grid-row: 4;

}.img5{
    grid-row: 5;

}.img6{
    grid-row: 6;
}