@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');

:root{
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto Slab', serif;
    --background-header: #CBBBAC;
    --background-menu: #433324;
    --selected-menu: #FFFF00;
    --background-div: #eeeeee;
}

body{
    padding: 20px;
}

header{
    background-color: var(--background-header);
    color: black;
    padding: 10px;
    max-width: 100%;
  
}
  
.content-header{
    display: flex;
    font-size: 1em;
    color: black;
    padding: 10px 10px 10px 30px;
}

.img-name{
    display: flex;
    justify-items: left;
}

.content-header h1{
    display: flex;
    justify-items: right;
    align-items: center;
    
}

.header-date{
    display: flex;
    font-size: 20px;
    justify-content: center;
    width: 100%;
    background: var(--background-menu);
    color: white;
}

.images-header{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    order: 3;
}

.logo-header{
    width: 5rem;
}

.img-facebook, .img-linkedin {
    width: 30px;
}
html{
    max-width: 98%;
}

/* END NAV */
  
/* CONTENT*/
.content{
    max-width: 100%;
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 50% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.event, .weather, .join{
    background: var(--background-div);
    height: 200px;
}

.event p, .weather p, .join p{
    padding: 1em;
}

.event{
    grid-column: 1;
    grid-row: 1;
}

.weather{
    grid-column: 1;
    grid-row: 2;
}

.join{
    grid-column: 1;
    grid-row: 3;
}

.middle-main{
    grid-column: 2;
    grid-row: 1/3;
}

.news-release{
    grid-column: 2;
    grid-row: 3/4;
}

.middle-main, .news-release{
    background: var(--background-div);
    
}

.middle-main p, .news-release p{
    padding: 1em;
}

.spotlight{
    grid-column: 3;
    grid-row: 1/4;
    background: var(--background-div);
    padding: 10px;
}

.spotlight div {
    border: 1px solid black;
    width: 100%;
    height: 200px;
    justify-self: center;
}

.spotlight div p {
    padding: 1em;
}
/* END CONTENT*/

/* FOOTER*/

.back-footer{
    background: var(--background-header);
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.main-nav-footer h2{
    font-size: 2rem;
    padding: 0px;
}
.test-flex{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test-flex img{
    width: 20%;
}

.container-footer{
    display: flex;
    justify-content: left;
    align-items: center;
}

.container-footer img{
    width: 140px;
    padding: 10px 0px 10px 50px;
}



.main-nav-footer {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 0px 0px 0px 50px;
}

.main-nav-footer ul {
    display: flex;
}


.text-footer{
    font-size: 18px;
}

.location-footer{
    font-size: 18px;
}

.location{
    padding: 0px 0px 0px 200px;
    font-size: 16px;
    text-align: center;
}

.location img{
    width: 60px;
}

.content-footer{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 30px;
    padding: 5px;
    width: 93%;
    font-size: 16px;
    color: black;
    border-top: 1px solid black;
    
    
}

.background-footer{
    background: var(--background-header);
}

/* END FOOTER*/
/* small.css */
/* MENU */

main{
    border: 1px solid yellow;
}
h1, p {margin: 0 2vw;}
/* button menu*/
nav button{
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.5);
    font-size: .9rem;
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.1);
    color: #000000;
}

nav ul li a:hover{
    background-color: rgba(0,0,0,0.1);
}

nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hamburguerBtn span:nth-child(1) {display: block;}
#hamburguerBtn span:nth-child(2) {display: none;}

#hamburguerBtn.open span:nth-child(1) {display: none;}
#hamburguerBtn.open span:nth-child(2) {display: block;}
/* END MENU */