@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');

:root{
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto Slab', serif;
    --background-header: #CBBBAC;
    --background-menu: #433324;
    --selected-menu: #FFFF00;
    --background-div: #eeeeee;
}

body{
    max-width: 960px;
    padding: 20px;
}

header{
    background-color: var(--background-header);
    color: black;
    padding: 10px;
}

ul {
    list-style: none;
  }
  
.container {
    max-width: 960px;
    margin: auto;
}

.header-date{
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    width: 100%;
    background: var(--background-menu);
    font-size: 18px;
    color: white;
}

.img-facebook, .img-linkedin {
    width: 30px;
}

/* NAV */
.main-nav {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.main-nav .logo {
    width: 80px;
}

.main-nav ul {
    display: flex;
}

.main-menu li {
    padding: 0 20px;
    font-size: 20px;
}

a{
    color: black;
}
a:hover{
    padding: 2px;
}

.main-nav ul.main-menu {
    flex: 1;
    margin-left: 50px;
}

/* END NAV */
  
/* CONTENT*/
.content{
    max-width: 960px;
    margin: 1rem;
    display: grid;
    grid-template-columns: 20% 50% 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
}

.event, .weather, .join{
    background: var(--background-div);
    height: 200px;
}

.event p, .weather p, .join p{
    padding: 1em;
}

.event{
    grid-column: 1;
    grid-row: 1;
}

.weather{
    grid-column: 1;
    grid-row: 2;
}

.join{
    grid-column: 1;
    grid-row: 3;
}

.middle-main{
    grid-column: 2;
    grid-row: 1/3;
}

.news-release{
    grid-column: 2;
    grid-row: 3/4;
}

.middle-main, .news-release{
    background: var(--background-div);
    
}

.middle-main p, .news-release p{
    padding: 1em;
}

.spotlight{
    grid-column: 3;
    grid-row: 1/4;
    background: var(--background-div);
    padding: 10px;
}

.spotlight div {
    border: 1px solid black;
    width: 100%;
    height: 200px;
    justify-self: center;
}

.spotlight div p {
    padding: 1em;
}
/* END CONTENT*/

/* FOOTER*/

.back-footer{
    background: var(--background-header);
    padding: 10px;
}

.container-footer{
    display: flex;
    justify-content: left;
    align-items: center;
}

.container-footer img{
    width: 140px;
    padding: 10px 0px 10px 50px;
}

.main-nav-footer {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding: 0px 0px 0px 50px;
}

.main-nav-footer ul {
    display: flex;
}

.main-nav-footer ul.main-menu {
    flex: 1;
    margin-left: 50px;
}

.text-footer{
    font-size: 16px;
}

.location{
    padding: 0px 0px 0px 200px;
    font-size: 16px;
    text-align: center;
}

.location img{
    width: 60px;
}

.content-footer{
    display: flex;
    justify-content: center;
    margin: 0px 0px 0px 30px;
    padding: 5px;
    width: 93%;
    font-size: 16px;
    color: black;
    border-top: 1px solid black;
    
}

/* END FOOTER*/

