@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');


:root {
	--font: 'Ubuntu', sans-serif;
	--back: #7fb9c2;
  --back2: #628ca6;
  --white: white;
	--black: black;
	--border: hsl(0,0%,20%);
	--borderlight: hsl(0,0%,33%);
	--shadow: hsl(0,0%,50%);
	--even: #e7ffed;
	--odd: #e7f0ed;
}

body{
	font-family: var(--font);
}

tfoot{
	background-color: var(--back);
	font-weight: bold;
}

.italic{
	font-style: italic;
}

td{
	font-size: 20px;
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
	width: 30%;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: var(--black);
	font-size: .85rem;
}

.colgroup {
	background-color: var(--back);
	color: var(--black);
	font-size: 30px;
	font-weight: bold;
}

.row2{
	background-color: var(--back2);
	color: var(--white);
	font-size: 20px;
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
}

th {
	background-color: var(--back2);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--even);
}

tbody tr:nth-child(even) {
	background-color: var(--odd);
}


@media only screen and (max-width: 32.5rem){
	main{
		width: 50%;
	}
	th{
		font-size: 0.9em;
	}
	td, .row2{
		font-size: 0.8em;
	}
}