/* 64rem is also 1028px when basefont is 16px */

@media only screen and (min-width: 60rem){

    nav button {display: none;}

    nav ul#primaryNav {
        display: flex;
        margin-left: 2vw;
    }
    
    nav ul li a{
        border: none;
    }
    
    .mypicture img {
        display: block;
        margin: auto;
        max-width: 80%;

      }

      .herodivlabel h3::after{
        content: "Large Size";
    }
    
    .content-picture{
        margin: 10px;
        width: 80%;
    }

    .join p{
        font-size: 0.9em;
    }
}