@charset "UTF-8"; /* not necessary. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Roboto+Slab:wght@300&display=swap');

:root{
    --heading-font: 'Lato', sans-serif;
    --paragraph-font: 'Roboto Slab', serif;
}
body {
	font-size: 16px;

}

/* phone or baseline views **************************/
header {
  max-width: 75%;
  margin: 1.5em auto;
	background-color: #CBBBAC;
	display: block;
	border: 1px solid rgba(0, 0, 0, 0.1);
}



.content-top{
  
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-row: 1;
  padding: 20px;
  background: #CBBBAC;
  border: 1px solid rgba(0, 0, 0, 0.1);
  
}

.content-top img{
  grid-column: 1;
  text-align: center;
  border-radius: 10px;
  max-width: 80%;
  
  }
h1, h2, h3, h4{
  font-family: var(--heading-font);
}

h1, h3 {
  	line-height: 1em;
 	padding: 10px;
	font-size: 1.1rem;
  	color: black;
}


.content-top h1{
  grid-column: 2;
  padding: 0.5em;
  text-align: left;
  font-family: var(--paragraph-font);
  font-size: 2em;
  color: black;
}

main div{
  display: block;
  margin: 10%;
  background: #F5F1F1;
  border-radius: 10px;
}

p, a {
  font-family: var(--paragraph-font);
  line-height: 1em;
  padding: 10px;
}


.content-table{
  max-width: 100%;
  grid-column: 1/3;
  padding: 10px;
  margin: 20px 10px 20px 10px;
}

.text-table{
  width: 100%;
  border-collapse: collapse;
}


.table,tr,td{
    border: 1px solid black;
    text-align: center;
    
}

.section-table{
  overflow-x:auto;
  grid-column: 1/3;
  width: 100%;
}

.box-logo, .box-domain, .box-purpose, .box-site-purpose, .box-color{
  margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eeeeee;
}

.box-logo{
	overflow: hidden;
}

.box-logo img{
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.box-logo:hover img{
	-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.box-logo h3, .box-purpose h3, .box-site-purpose h3, .box-domain h3, .box-color h3{
  font-size: 2em;
  text-align: center;
}

.box-color h4{
  text-align: center;
}

.box-color div{
  height: 3em;
  border: 1px solid black;
}

.color-information{
  width: 100%;
}

.tr-lato40, .tr-lato30, .tr-lato25, .tr-lato20{
    font-family: var(--heading-font);
}
.tr-roboto16{
  font-family: var(--paragraph-font);
}
#td-lato40{
  font-size: 40px;
  background: #CBBBAC;
}
#td-lato30{
  font-size: 30px;
  background: #433324;
  color: white;
}
#td-lato30-2{
  font-size: 30px;
  background: #CBBBAC;
}
#td-lato25{
  font-size: 25px;
  background: #eeeeee;
}
#td-lato20{
  font-size: 20px;
  background: #CBBBAC;
}
#td-lato20-2{
  font-size: 20px;
  background: #eeeeee;
}
#td-roboto16{
  font-size: 16px;
  background: white;
}


footer p {
  font-family: var(--paragraph-font);
  line-height: 1em;
  padding: 10px;
  text-align: center;
  font-size: 15px;
}

.box-purpose p{
  font-family: var(--paragraph-font);
  font-size: 20px;
}

.box-domain p{
  font-family: var(--paragraph-font);
  font-size: 16px;
}


footer {
	background-color: #CBBBAC;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
	border: 1px solid rgba(0, 0, 0, 0.1);
}


label{
  color: black;
}




header,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}

nav {
	background-color: #433324;
	margin: 0 auto;
	max-width: 780px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
}
nav ul {
	list-style-type: none;
	overflow: hidden;
}
nav ul li a {
	display: block;
	color: #ffffff;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, yellow, transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

.active {
	color: yellow;
}
main {
	display: grid;
	grid-template-columns: 1fr;
	font-size: 0.8rem;
}
main article{
	margin: 1rem;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 1rem;
	background-color: #eeeeee;
}

main article ul {
	margin: 1rem 0 0 1rem;
}
main picture{
	display: none;
	margin: 1rem;
}



/* Tablet Views ******************************/
@media only screen and (min-width: 37.5em) {
	h1 {
		font-size: 1.5rem;
	}

	/* Horizontal Menu Examples */
	/* Flex *********************/
	 		nav ul { display: flex; }
		  nav ul li { flex: 1 1 auto; } 

	/* Grid *********************/
/* 	nav ul {
		display: grid;
		/*grid-template-columns: repeat(5, 1fr);
		grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
	} */

	nav a {
		font-size: 1rem;
	}

	nav a:hover {
		/* 	background-color: #bbb;
	color: #36454f; */
		--d: 75%;
	}

	main {
		grid-template-columns: 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 2;
	}
	main picture {
		display: block;
	}
	main picture img {
		width: 100%;
		height: auto;
		border: 1px solid #bbbbbb;
	}
}

/* Desktop Views ****************************/
@media only screen and (min-width: 60em) {
	h1 {
		font-size: 2rem;
	}
	nav a {
		font-size: 1.1rem;
	}
	main {
		grid-template-columns: 1fr 1fr 1fr;
	}
	article:nth-child(3) {
		grid-column: span 1;
	}
}

@media screen and (max-width: 600px) { 
/* beginning of media query */
    main {
    display: block;
    }
  .content-top h1{
    font-size: 1.5em;
  }
  
    h2 {
    margin-bottom: 0.5em;
  }
    
/* end of media query */ 
} 

@media (min-width: 32.5em) {
  main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

   .box-logo {
    grid-column: 1;
    display: block;
  }
  
   .box-purpose {
    grid-column: 2;
    display: block;
  }
  
   .box-domain {
    grid-column: 1/3;
    display: block;
  }
}

@media (min-width: 64em) {
  main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }

  .box-logo {
    grid-column: 1;
    display: block;
  }
  
  .box-purpose {
    grid-column: 2;
    display: block;
  }
  
  .box-domain {
    grid-column: 3;
    display: block;
  }
}